# encoding: UTF-8
<?xml version="1.0" encoding=""?>
<!DOCTYPE html>
<p id="notice"><%= notice %></p>

<table border="2" width="800px" cellpadding = "5" align="center" >
         <caption><h2> Staff Data Page</h2></caption>
         
<tr> <th rowspan= "7"><%= image_tag "#{@person.image_url.to_s}" %></th>
<td><%= @person.title.name %></td> <td><%= @person.surname %></td> <td><%= @person.first_name %></td> <td><%= @person.other_names %></td>
<tr> <th colspan = "4"> <h4>Personal Information</h4></th></tr>
<tr> <td colspan = "3"> Gender:</td> <td><%= @person.gender.name %></td></tr>
<tr> <td colspan = "3"> Date of Birth</td> <td><%= @person.dob %></td></tr>
<tr> <td colspan = "3"> Employment Date:</td> <td><%= @person.date_of_employment %></td></tr>
<tr> <td colspan = "3"> Resignation Date</td> <td><%= @person.date_of_resignation %></td></tr>
<tr> <td colspan = "3"> Present/Last Position Held:</td> <td><%= @person.salary.department %></td></tr>

</table>

<h3>Comments</h3>
<p><%= render @person.comments %></p>

<h2>Add a comment:</h2>
<%= render "comments/form" %>



<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
