<!DOCTYPE html>
<html>
<head>
  <title>Staff</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body bgcolor="#E6E6FA">
<div id="banner">
   <%= image_tag("Logo.jpg", :class => "round") %>
   <%= "Staff Record Application" %>
   </div>
<header>
<table border="2" width="800px" cellpadding = "5" align="center">
<tr>
<th> <%= link_to 'Home', pages_home_path %></th> <th><%= link_to 'Help Center', pages_help_path %></th> <th> <%= link_to 'Admin Contact', pages_contact_path %></th> <th><%= link_to 'Sign in', users_new_path %></th> <th><%= link_to 'log out', pages_home_path %></th>
</tr>
</table><table width="100%"><tr><td align="center">
</header>
<table border="0" width="900"><tr><td align="left">
<section class="round">
<%= yield %>
</section>
</div>
</body>
</html>